$primary: #23395B;
$secondary: #1ac888;
$error: #d32752;
$blue: #1919e6;
$red: #e61919;
$purple: #2E1A47;
$gray: #1B263B;
$black: black;
$white: #FFFFFF;
$Neon:#fb2992;
$BrightCyan: #00FFFF;
$darkgrey:#283A5A;
// spacing ==
$base-padding: 0.75rem;
$base-margin: 0.75rem;
// borders == 
$base-border-thickness: 1px;
$base-border-radius: 20px;
// box-shadow
$base-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
// font-size
$base-font-size:1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;